<div class="frame-container">
    <img src="../../../assets/images/my-room/chair.png" alt="chair" class="chair" />
    <img src="../../../assets/images/my-room/table.png" alt="table" class="table" />
    <img src="../../../assets/images/my-room/journals.png" alt="journals" class="journals" (click)="handleJournalClick()" />
    <img src="../../../assets/images/my-room/lamp.png" alt="lamp" class="lamp" />
    <img src="../../../assets/images/my-room/polaroids.png" alt="polaroids" class="polaroids" (click)="handlePolaroidClick()" />
</div>