@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

button {
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    margin: 1rem;
    margin-left: 2rem;
}

button:hover {
    font-weight: bold;
    cursor: pointer;
}