header {
    position: sticky;
    top: 0;           /* Stick to the top */
    z-index: 1000;    /* Ensure it stays above other elements */
    background: white; /* Optional: prevents content behind it from showing through */
    border-bottom: 1px solid black;
}

button {
    background: none;
    border: none;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 1.25rem;
    padding: 1rem;
    margin-left: 2rem;
    cursor: pointer;
}

button.active {
    font-weight: bold;
}