<img src="../../../assets/images/balcony/leanne/arm and hands.svg" alt="Arms and hands" class="arms-and-hands" />
<img src="../../../assets/images/balcony/leanne/torso.svg" alt="Torso" class="torso" />
<img src="../../../assets/images/balcony/leanne/pants.svg" alt="Pants" class="pants" />
<img src="../../../assets/images/balcony/leanne/shirt.svg" alt="Shirt" class="shirt" />
<img src="../../../assets/images/balcony/leanne/face.svg" alt="Face" class="face" />
<img src="../../../assets/images/balcony/leanne/hair.svg" alt="Hair" class="hair" />
