img {
    position: absolute;
    height: auto;
}

/* background */

.sand {
    width: 101%;
    bottom: 0;
}

.ocean {
    width: 100%;
    top: 40%;
}

.lower-tree {
    width: 50%;
    bottom: -10%;
    right: 0;
}

.upper-tree {
    width: 30%;
    bottom: -5%;
    right: 0;
}

.window {
    width: 100%;
    bottom: 0;
}

.lighting {
    opacity: 0.5;
}

/* Leanne */

.torso {
    left: 19%;
    top: 48.047%;
    width: 14%;
}

.shirt {
    left: 20%;
    top: 46.875%;
    width: 14%;
}

.arms-and-hands {
    left: 14%;
    top: 18.652%;
    width: 20%;
}

.pants {
    left: 17%;
    top: 70%;
    width: 20%;
}

.hair {
    left: 14%;
    top: 30%;
    width: 14%;
}

.face {
    left: 22%;
    top: 35%;
    width: 5.972%;
}
