<div class="background">
    <img src="../../../assets/images/balcony/background/sand.svg" alt="Sand" class="sand" />
    <img src="../../../assets/images/balcony/background/ocean.svg" alt="Ocean" class="ocean" />
    <img src="../../../assets/images/balcony/background/lower-tree.svg" alt="Lower Tree" class="lower-tree" />
    <img src="../../../assets/images/balcony/background/upper-tree.svg" alt="Upper Tree" class="upper-tree" />
    <img src="../../../assets/images/balcony/background/window.svg" alt="Window" class="window" />
    <img src="../../../assets/images/balcony/background/lighting.svg" alt="Lighting" class="lighting" />
</div>
<div class="leanne">
    <img src="../../../assets/images/balcony/leanne/arm and hands.svg" alt="Arms and hands" class="arms-and-hands" />
    <img src="../../../assets/images/balcony/leanne/torso.svg" alt="Torso" class="torso" />
    <img src="../../../assets/images/balcony/leanne/pants.svg" alt="Pants" class="pants" />
    <img src="../../../assets/images/balcony/leanne/shirt.svg" alt="Shirt" class="shirt" />
    <img src="../../../assets/images/balcony/leanne/face.svg" alt="Face" class="face" />
    <img src="../../../assets/images/balcony/leanne/hair.svg" alt="Hair" class="hair" />
</div>

