<div class="frame-wrapper">
    <div class="frame-container">
        <img src="../../../assets/images/office/clock shadow.png" alt="Clock shadow" class="clock-shadow" />
        <img src="../../../assets/images/office/clock.png" alt="Clock" class="clock" />
        <img src="../../../assets/images/office/desk.png" alt="Desk" class="desk" />
        <img src="../../../assets/images/office/computer.png" alt="Computer" class="computer" />
        <img src="../../../assets/images/office/keyboard.png" alt="Keyboard" class="keyboard" />
        <img src="../../../assets/images/office/leanne.png" alt="Leanne" class="leanne" />
        <img src="../../../assets/images/office/chair.png" alt="Chair" class="chair" />
        <img src="../../../assets/images/office/light from screen.png" alt="Light from screen" class="light-from-screen" />
        <img src="../../../assets/images/office/main shadow.png" alt="Main shadow" class="main-shadow" />
    </div>
</div>