.grid-container {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
}

.grid-item {
    text-align: center;
    unicode-bidi: normal;
    padding-top: 1rem;
    padding-bottom: 1rem;
}