<div style="text-align: center; margin-top: 3rem;">
    <h1>Projects</h1>
    <h2>Software and Design Projects</h2>
    <div class="grid-container" *ngFor="let project of projects">
        <div class="grid-item">
            <app-project-item (popupOpen)="handlePopupOpen($event)" [project]="project"></app-project-item>
        </div>
    </div>

    <div *ngFor="let project of projects">
        <app-project-popup *ngIf="popupList[project.name]" (popupClose)="handlePopupClose($event)" [project]="project"></app-project-popup>
    </div>
</div>