@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

h1 {
    margin-top: 3rem;
    padding-top: 7rem;
    margin-left: 3rem;
    margin-bottom: 0;
    color: #7f6c87;
}

.project-page {
    display: flex;
    margin-top: 3rem;
    flex-direction: row;
}

.office {
    flex: 1.5;      /* takes 2 parts of total space */
    min-width: 300px; /* optional: prevent shrinking too much */
}

.project-container {
    flex: 2;      /* takes 1 part of total space */
    min-width: 200px; /* optional: prevent shrinking */
}

.project-logo-bar {
    border-top: 1px solid grey;
    padding: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: calc(100% - 6rem);
    margin-right: 2rem;
    overflow-x: scroll;
    white-space: nowrap; /* keep items in one row */
}

.project-logo-bar div {
    cursor: pointer;
    padding: 0.125rem;
    flex: 0 0 auto; /* prevent shrinking */
    transition: transform 0.2s, box-shadow 0.2s;
}

.project-logo-bar div.active, .project-logo-bar div:hover {
    position: relative; 
    background-color: rgba(200, 200, 200, 0.3);
}

.project-logo-bar div.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px; /* thickness of the shadow line */
    background: rgba(0, 0, 0, 0.3); /* shadow color */
    border-radius: 2px; /* soft edges for the line */
}

.project-logo {
    height: 2.5rem;
    padding: 0.25rem;
    cursor: pointer;
    font-family: "Source Code Pro", monospace;
}

.award {
    font-family: "PT Serif", serif;
    font-size: 0.9rem;
    background-color: rgba(253, 255, 163, 0.5);
}

.project-date {
    font-size: 0.7rem;
}

.project-description {
    background-color: #fefefe;
    border: 1px solid grey;
    margin-right: 2rem;
    padding: 2rem;
    width: calc(100% - 7rem - 2px);
    aspect-ratio: 4 / 2.8;
    overflow-y: scroll;
}

.project-description > p {
    line-height: 2;
}

.project-description > h2 {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.project-description > span {
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

.tech-stack-logo {
    height: 1.25rem;
}

.tech-stack {
    font-family: "Source Code Pro", monospace;
}

.link {
    height: 1.5rem;
    cursor: pointer;
}

.screenshot {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}