@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 1.1em;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.role {
    color: black;
}

.description {
    font-family: "Titillium Web", sans-serif,;
    color: black;
    font-size: 0.9em;
    line-height: 25px;
}

.popup-inner {
    position: relative;
    padding: 32px;
    padding-top: 50px;
    width: 100%;
    max-width: 640px;
    height: auto;
    background-color: #FFF;
    border-radius: 30px;
}

.popup-inner .close-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 30px;
    background-color: white;
}

.popup-inner .close-btn:hover {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: grey;
}

.github-button:hover {
    cursor: pointer;
}

li {
    text-indent: 0;
}

@media only screen and (max-width: 600px) {
html {
font-size: 10px;
}
};
@media only screen and (max-width: 740px) {
html {
font-size: 15px;
}
};
@media only screen and (max-width: 850px) {
html {
font-size: 17px;
}
};
@media only screen and (max-width: 1024px) {
html {
font-size: px;
}
};