<div class="frame-wrapper">
    <div class="frame-container">
        <img src="../../../assets/images/living-room/wall dividers.png" alt="wall dividers" class="wall-dividers" />
        <img src="../../../assets/images/living-room/floor.png" alt="floor" class="floor" />
        <img src="../../../assets/images/living-room/sofa.png" alt="sofa" class="sofa" />
        <img src="../../../assets/images/living-room/sofa-1.png" alt="sofa-1" class="sofa-1" />
        <img src="../../../assets/images/living-room/window.png" alt="window" class="window" />
        <img src="../../../assets/images/living-room/leanne.png" alt="leanne" class="leanne" />
        <img src="../../../assets/images/living-room/table.png" alt="table" class="table" />
        <img src="../../../assets/images/living-room/matcha.png" alt="matcha" class="matcha" />    <img src="../../../assets/images/living-room/matcha.png" alt="matcha" class="matcha" />
        <img src="../../../assets/images/living-room/tree.png" alt="tree" class="tree" />
        <img src="../../../assets/images/living-room/lighting.png" alt="lighting" class="lighting" />
    </div>
</div>