@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.experiences {
  position: relative;
  background-color: black;
  width: 100%;
  overflow: hidden;
  text-align: center;
  color: var(--color-white);
  justify-content: center;
  font-family: "Titillium Web", sans-serif;
}

h1 {
  font-size: 4em;
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 0.5em;
  color: white;
  text-shadow: 0 0 4px white;
}

h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 1.5em;
}

.gridContainer {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(3, 25vw);
  overflow: auto;
  width: 75vw;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.25vw;
  padding-top: 3rem;
  border-radius: var(--br-11xl);
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 500px) {
  .gridContainer {
    grid-template-columns: repeat(1, 60vw);
  }
};