.home {
  position: relative;
  background-color: #dfff9c;
  /* filter: blur(4px); */
  mix-blend-mode: normal;
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-cinzel);
}

.headerBackground {
  display: flex;
  background-color: var(--color-darkslateblue);
  width: 100%;
  height: 120px;
}

.home1 {
  position: absolute;
  top: 45px;
  left: 25%;
  height: 120px;
  cursor: pointer;
  text-align: center;
  transform: translate(-50%, 0px);
}

.projects {
  position: absolute;
  top: 45px;
  left: 50%;
  height: 120px;
  cursor: pointer;
  text-align: center;
  transform: translate(-50%, 0px);
}

.leadership{
  position: absolute;
  top: 45px;
  left: 75%;
  height: 120px;
  cursor: pointer;
  text-align: center;
  transform: translate(-50%, 0px);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--font-size-6xl);
  font-family: var(--font-lora);
}

.name {
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: var(--font-size-31xl);
  display: inline-block;
  font-family: var(--font-cinzel);
  width: 50%;
  height: 89px;
  color: black;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.pronoun {
  position: absolute;
  top: 38%;
  left: 25%;
  width: 50%;
  font-family: var(--font-cinzel);
  font-size: 20px;
  display: inline-block;
  color: black;
}

.description {
  position: absolute;
  top: 45%;
  left: 25%;
  display: inline-block;
  font-family: var(--font-lora);
  font-size: 20px;
  width: 50%;
  color: black;
}

.contacts {
  position: absolute;
  top: 85%;
  left: 25%;
  display: inline-block;
  width: 50%;
  font-family: var(--font-lora);
  font-size: 18px;
  line-height: 25px;
  color: black;
}

.buttonContainer {
  position: relative;
  display: grid;
  row-gap: 15px;
  width: 50%;
  left: 25%;
  top: 60%;
}

.linkButton {
  position: relative;
  width: 30%;
  left: 35%;
  text-align: center;
  height: 50px;
  background-color:  var(--color-darkslateblue);
  font-family: var(--font-cinzel);
  font-size: 18px;
  cursor: pointer;
  border-radius: var(--br-11xl);
  color: white;
  font-weight: bold;
}

.bottomLine {
  position: absolute;
  top: 30%;
  left: 25%;
  border-top: 2px solid var(--color-darkslateblue);
  box-sizing: border-box;
  width: 50%;
  height: 2px;
}