@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.mypicture {
  width: 20rem;
  margin-bottom: 3rem;
}

.home {
  position: relative;
  background-color: black;
  overflow: hidden;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  color: white;
  justify-content: center;
}

.header {
  display: flex;
  background-color: #cceaff;
  opacity: 0.9;
  width: 100vw;
  height: 5em;
  position: fixed;
  top: 0;
  left: 0;
}

.router {
  line-height: 3em;
  cursor: pointer;
  text-align: center;
  justify-self: center;
  font-size: 1.25em;
  width: 10vw;
  margin-left: 17.5vw;
  margin-top: 0.5em;
  color: black;
}

.router:hover {
  text-shadow: 0 0 2px #02487a;
}

.icon {
  height: 1.2rem;
}

.filler {
  height: 12rem;
}
.name {
  font-size: 4em;
  margin-top: 12rem;
  color: #cceaff;
  -webkit-text-size-adjust: none;
}

.pronoun {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
}

.description {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25em;
}

.content {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.buttonContainer {
  display: flex;
  width: 15vw;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
}

.linkButton {
  display: block;
  text-align: center;
  height: 2.5em;
  margin-top: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: white;
  font-size: 1em;
  cursor: pointer;
  border-radius: 30px;
  color: white;
}

.linkButton:hover {
  box-shadow: 0 0 0.5em #4e718a;
}

.contacts {
  display: block;
  padding-top: 5em;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 5em;
  background-color: black;
  color: white;
  font-size: 1em;
  line-height: 1.5em;
}

.bottomLine {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  border-top: 2px solid white;
  box-sizing: border-box;
  width: 30vw;
  height: 1em;
}

@media only screen and (max-width: 600px) {
  html {
  font-size: 5px;
  }
};
@media only screen and (max-width: 740px) {
  html {
  font-size: 9px;
  }
};
@media only screen and (max-width: 850px) {
  html {
  font-size: 11px;
  }
};
@media only screen and (max-width: 1024px) {
  html {
  font-size: 18px;
  }
};

.bread::before{ 
  content: "U+1F35E"; /* Unicode value for a heart */
  font-size: 2rem; /* set font size */
}