@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.experiences {
  position: relative;
  background-color: black;
  width: 100%;
  overflow: hidden;
  text-align: center;
  color: var(--color-white);
  justify-content: center;
  font-family: "Titillium Web", sans-serif;
}

.header {
  display: flex;
  background-color: transparent;
  width: 100vw;
  height: 6em;
  font-family: var(--font-lora);
}

.router {
  line-height: 4em;
  cursor: pointer;
  text-align: center;
  justify-self: center;
  font-size: 1.25em;
  font-family: "Titillium Web", sans-serif;
  width: 10vw;
  margin-left: 17.5vw;
  margin-top: 1em;
}

.router:hover {
  text-shadow: 0 0 5px white;
}

h1 {
  display: block;
  font-size: 4em;
  font-family: "Titillium Web", sans-serif;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  text-align: center;
  color: white;
  text-shadow: 0 0 4px white;
  -webkit-text-size-adjust: none;
}

h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 1.5em;
}

.gridContainer {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(3, 20vw);
  grid-gap: 5vw;
  row-gap: 3em;
  width: 75vw;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.25rem;
  padding-top: 3rem;
  border-radius: var(--br-11xl);
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  html {
  font-size: 7px;
  }
};
@media only screen and (max-width: 740px) {
  html {
  font-size: 10px;
  }
};
@media only screen and (max-width: 850px) {
  html {
  font-size: 11px;
  }
};
@media only screen and (max-width: 1024px) {
  html {
  font-size: 18px;
  }
};