.projects {
  position: relative;
  background-color: #dcf0f6;
  width: 100%;
  height: 1800px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-cinzel);
}

.headerBackground {
  display: flex;
  background-color: var(--color-steelblue);
  width: 100%;
  height: 120px;
}

.home {
  position: absolute;
  top: 45px;
  left: 25%;
  height: 7%;
  cursor: pointer;
  text-align: center;
  transform: translate(-50%, 0px);
}

.projects1 {
  position: absolute;
  top: 45px;
  left: 50%;
  height: 7%;
  cursor: pointer;
  text-align: center;
  transform: translate(-50%, 0px);
}

.leadership{
  position: absolute;
  top: 45px;
  left: 75%;
  height: 7%;
  cursor: pointer;
  text-align: center;
  transform: translate(-50%, 0px);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--font-size-6xl);
  font-family: var(--font-lora);
}

.text {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-lora);
}

.heading1 {
  display: inline;
  position: absolute;
  width: 50%;
  top: 13%;
  left: 25%;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-cinzel);
}

.heading2 {
  display: inline;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 18%;
  text-align: center;
  color: var(--color-black);
  font-size: var(--font-size-13xl);
  font-family: var(--font-cinzel);
}

.devpostButton {
  position: absolute;
  height: 43px;
  top: 22%;
  left: 50%;
  cursor: pointer;
  font-size: var(--font-size-xl);
  border-radius: var(--br-11xl);
  background-color: var(--color-steelblue);
  font-family: var(--font-cinzel);
  width: 200px;
  height: 40px;
  transform: translate(-50%, -50%);
}

.devpostButton:hover {
  background-color: rgb(141, 187, 227);
}

.gridContainer {
  position: relative;
  display: grid;
  background-color: white;
  grid-template-columns: repeat(3, 15%);
  grid-gap: 10%;
  row-gap: 5%;
  width: 50%;
  left: 20%;
  top: 25%;
  padding: 5%;
  padding-bottom: 7%;
  border-radius: var(--br-11xl);
  align-items: center;
  justify-content: center;
}

.gridContainer div{
  display: flex-grid;
  align-items: center;
  justify-content: center;
}

.bodyParagraph {
  width: 70%;
  color: black;
  font-size: 15px;
}

.devpost {
  position: absolute;
  height: 43px;
  top: 0;
  left: 3.92px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 196.08px;
}