<div class="cursor" [style.top]="top" [style.left]="left" [ngClass]="{'expand':expand}" #cursor> </div>

<app-header></app-header>

<app-profile (mouseover)="resetCursorStyle()" id="profile" class="fade-in" #fadeComponent></app-profile>

<app-projects  (mouseover)="changeCursorStyle('rgba(207, 171, 255, 0.3)')" id="projects" class="fade-in" #fadeComponent></app-projects>

<app-ec (mouseover)="changeCursorStyle('rgba(0, 209, 164, 0.3)')" id="extracurricular" class="fade-in" #fadeComponent></app-ec>

<app-me (mouseover)="changeCursorStyle('rgba(87, 75, 71, 0.3)')" id="about me" class="fade-in" #fadeComponent></app-me>

<app-footer></app-footer>