.item-container {
    width: 100%;
}

.item-container:hover {
    transform: scale(1.05);
}

button {
    background-color: transparent;
    border-color: black;
    border-radius: 1em;
    width: 7rem;
    padding: 0.25rem;
}

button:hover {
    background-color: lightgrey;
    cursor: pointer;
}

img {
    height: 3rem;
}