<div style="text-align: center; padding-top: 5rem;">
    <h1 style="color: #e300a3">Experiences</h1>
    <h3>Employment Experiences and Leadership Activities</h3>

    <div class="grid-container">
        <div class="grid-item" *ngFor="let experience of experiences">
            <app-experience-item (popupOpen)="handlePopupOpen($event)" [experience]="experience"></app-experience-item>
        </div>
    </div>

    <ng-container *ngFor="let experience of experiences">
        <app-experience-popup *ngIf="popupList[experience.organization]" (popupClose)="handlePopupClose($event)" [experience]="experience"></app-experience-popup>
    </ng-container>
</div>
