img {
    height: 1.2rem;
}

.container {
    margin-left: 2rem;
    width: calc(50% - 2rem);
    max-width: 800px; 
    padding: 0 1rem; 
    flex: 1;
}

a {
    margin: 0.5rem;
    margin-right: 1rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

.collage-photos {
    max-width: 50%; 
    height: auto; 
    margin-top: 20px;
}

@media (max-width: 1025px) {
    .container {
        margin-left: 0;
        width: calc(100%);
        justify-content: center;
    }
    .collage-photos {
        max-width: 100%; 
        height: auto; 
        margin-top: 5px;
    }
}

@media (max-width: 600px) {
    .container {
        margin-left: 0;
        width: calc(100%);
        justify-content: center;
    }
    .collage-photos {
        max-width: 100%; 
        height: auto; 
        margin-top: 5px;
    }
}
