<div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <div class="container">
        <div style="text-align: center; margin-top: 5rem;">
            <h1>Leanne Kim</h1>
            <h3>She/Her</h3>
        </div>
        
        <div class="intro">Hi! I am a <b>Systems Design Engineering</b> student at the University of Waterloo.</div>
        <div class="description" style="margin-top: 2rem">
            <div class="frameworks">
                <b>Frameworks:</b>
                <p>
                    <img src="../../../assets/images/angular.png"/> Angular, 
                    <img src='../../../assets/images/react.png'/> ReactJS/ReactTS,
                    <img src='../../../assets/images/processing.svg'/> Processing, 
                    <img src='../../../assets/images/springboot.png'/> Springboot,
                    <img src='../../../assets/images/express.png'/> Express.js
                </p>
            </div>

            <div class="languages">
                <b>Languages:</b>
                <p>
                    <img src='../../../assets/images/C++.png'/> C++, 
                    <img src='../../../assets/images/java.png'/> Java, 
                    <img src='../../../assets/images/javascript.png'/> JavaScript, 
                    <img src='../../../assets/images/typescript.png'/> Typescript, 
                    <img src='../../../assets/images/css.svg'/> CSS,
                    <img src='../../../assets/images/html.svg'/> HTML,
                    <img src='../../../assets/images/python.png'/> Python
                </p>
            </div>

            <div class="tools">
                <b>Tools:</b>
                <p>
                    <img src='../../../assets/images/mongoDB.png'/> MongoDB, 
                    <img src='../../../assets/images/postman.jpg'/> Postman,
                    <img src='../../../assets/images/vercel.png'/> Vercel, 
                    <img src='../../../assets/images/render.png'/>Render, 
                    <img src='../../../assets/images/wave.png'/> WAVE evaluation tool, 
                    <img src='../../../assets/images/NVDA.png'/> NVDA Screen Reader, 
                    RESTAPI, 
                    Figma
                </p>
            </div>

            <div class="interests">
                <b >Interests: </b>
                <p>Full-stack Software Development, Applications for Medical Uses, AI (Recent interest), Project Management</p>
            </div>

            <div class="hobbies">
                <b>Hobbies: </b>
                <p>👩‍💻 Coding, 📚 Reading, 🎧 Listening to music, 🌎 Studying new languages</p>
            </div>
    
            <div class="social-media-buttons">
                <a href="https://www.instagram.com/sooyeunleanne/"><img class="instagram" src="../../../assets/images/instagram.webp"/></a>
                <a href="https://www.linkedin.com/in/sooyeunleanne"><img class="linkedin" src="../../../assets/images/linkedin.png"/></a>
                <a href="https://github.com/sooyeunleanne"><img class="github" src="../../../assets/images/github.png"/></a>
            </div>
        </div>
    </div>

    <div class="collage-photos">
        <img class="collage-item image-1" src="../../../assets/images/profile/image 1.png"/>
        <img class="collage-item image-2" src="../../../assets/images/profile/image 2.png"/>
        <img class="collage-item image-3" src="../../../assets/images/profile/image 3.png"/>
        <img class="collage-item image-4" src="../../../assets/images/profile/image 4.png"/>
        <img class="collage-item image-6" src="../../../assets/images/profile/image 6.png"/>
        <img class="collage-item image-5" src="../../../assets/images/profile/image 5.png"/>
        <img class="collage-item image-7" src="../../../assets/images/profile/image 7.png"/>
        <img class="collage-item image-8" src="../../../assets/images/profile/image 9.png"/>
        <img class="collage-item image-9" src="../../../assets/images/profile/image 10.png"/>
    </div>
</div>