<div>
    <b>Leanne Kim</b>
    She/Her 
    Welcome! I am a Systems Design Engineering (Class of 28') student at the University of Waterloo.

    <b style="margin-top: 1rem">Frameworks:</b>
    <p>
        <img src="../../images/angular.png"/> Angular, 
        <img src='../../images/react.png'/> ReactJS/ReactTS,
        <img src='../../images/processing.svg'/> Processing, 
        <img src='../../images/springboot.png'/> Springboot
    </p>
    <b style="margin-top: 1rem">Languages:</b>
    <p>
        <img src='../../images/C++.png'/> C++, 
        <img src='../../images/java.png'/> Java, 
        <img src='../../images/javascript.png'/> JavaScript, 
        <img src='../../images/typescript.png'/> Typescript, 
        <img src='../../images/css.svg'/> CSS,
        <img src='../../images/html.svg'/> HTML,
        <img src='../../images/python.png'/> Python
    </p>
    <br/>
    <b style="margin-top: 1rem">Interests: </b>
    <p>Full-stack development (front-end + back-end), software development, project management, machine learning</p>
    <br/>
    <b style="margin-top: 1rem">Hobbies: </b>
    <p>👩‍💻 Coding, 📚 Reading, 🍞 Baking, 🩰 Dancing, 🎹 Piano, 🎧 Listening to music, 🌎 Studying new languages</p>

    <p><a href="https://www.instagram.com/sooyeunleanne/">Instagram</a></p>
    <p><a href="https://www.linkedin.com/in/sooyeunleanne">LinkedIn</a></p>
    <p><a href="https://github.com/sooyeunleanne">Github</a></p>

</div>