<div class="container">
    <div style="text-align: center; margin-top: 5rem;">
        <h1>Leanne Kim</h1>
        <h3>She/Her</h3>
    </div>
    
     Welcome! I am a <b>Systems Design Engineering</b> (Class of 28') student at the University of Waterloo.
    <div style="margin-top: 2rem">
        <b>Frameworks:</b>
        <p>
            <img src="../../../assets/images/angular.png"/> Angular, 
            <img src='../../../assets/images/react.png'/> ReactJS/ReactTS,
            <img src='../../../assets/images/processing.svg'/> Processing, 
            <img src='../../../assets/images/springboot.png'/> Springboot
        </p>
        <b>Languages:</b>
        <p>
            <img src='../../../assets/images/C++.png'/> C++, 
            <img src='../../../assets/images/java.png'/> Java, 
            <img src='../../../assets/images/javascript.png'/> JavaScript, 
            <img src='../../../assets/images/typescript.png'/> Typescript, 
            <img src='../../../assets/images/css.svg'/> CSS,
            <img src='../../../assets/images/html.svg'/> HTML,
            <img src='../../../assets/images/python.png'/> Python
        </p>
        <b >Interests: </b>
        <p>Software development (both frontend and backend), Project management, Artificial Intelligence, Machine learning</p>
        <b>Hobbies: </b>
        <p>👩‍💻 Coding, 📚 Reading, 🍞 Baking, 🩰 Dancing, 🎹 Piano, 🎧 Listening to music, 🌎 Studying new languages</p>

        <div style="margin-top: 2rem; display: flex; justify-content: center">
            <a href="https://www.instagram.com/sooyeunleanne/"><img style="height: 2.25rem;" src="../../../assets/images/instagram.webp"/></a>
            <a href="https://www.linkedin.com/in/sooyeunleanne"><img style="height: 2.25rem;" src="../../../assets/images/linkedin.png"/></a>
            <a href="https://github.com/sooyeunleanne"><img style="height: 2.25rem;" src="../../../assets/images/github.png"/></a>
        </div>
    </div>
    
</div>