/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

button {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.popup-container {
    position: fixed;
    top: 50%; /* Align to the middle of the viewport */
    transform: translateY(-50%); /* Adjust vertically by half of its own height */   
    left: 15%;
    right: 15%;
    border-style: solid;
    border-radius: 3rem;
    background-color: white;
    width: 70%;
    padding: 2%;
}

.point-container {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 2.5rem;
    font-size: 1rem;
}

#shadow {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    pointer-events: none; /* Ensures the shadow doesn't interfere with cursor movement */
    transition: transform 0.1s ease; /* Smooth transition for movement */
  }

.grid-container {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
}

.grid-item {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}