<div class="popup-container">
    <button (click)="closePopup()">X</button>
    <p style="margin-top: 3rem" *ngIf="experience.logo"><img [src]="'../../../../assets/images/'+ experience.logo" /></p>

    <h3 style="colour: #e300a3;">{{ experience.organization }}</h3>
    <h1>{{ experience.role }}</h1>
    <h4>{{ experience.startdate }} - {{ experience.enddate }}</h4>
    <div class="point-container">
        <ul>
            <li>{{ experience.point1 }}</li>
            <li>{{ experience.point2 }}</li>
            <li *ngIf="experience.point3">{{ experience.point3 }}</li>
        </ul>
    </div>
    
</div>