button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    float: right;
}

button:hover{
    color: darkgrey;
    cursor: pointer;
}

.screenshot { 
    height: 15rem;
}

.link {
    height: 2rem;
}

.link:hover {
    transform: scale(110%);
}

@media (max-width: 1025px) {
    .screenshot {
        height: 13rem;
    }
}

@media (max-width: 600px) {
    .screenshot {
        max-width: 90%;
        height: 10rem;
        width: auto;
    }

    h1 {
        font-size: 1.2rem;
    } 

    h3 {
        font-size: 0.8rem;
    }
}
